html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0px;
}

.blue-back{
	background-color: #007EA3;
	color: #fff;
}

.margin-elements{
	margin-top: 20px;
}

.title-app{
	float: left; 
	top: 22px;
	 position: relative; 
	 color:#d2db0e;
}

.letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 90%;
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

.fondo{
/*	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px; */
background: #ffffff;
-webkit-box-shadow: 10px 10px 45px -6px rgba(191,191,191,1);
-moz-box-shadow: 10px 10px 45px -6px rgba(191,191,191,1);
box-shadow: 10px 10px 45px -6px rgba(191,191,191,1);
z-index: 1;
margin: 6px;
padding:6px;
  top: 4px;
    left: -3px;
    z-index:0;
}

.fondo-hoja{
/*	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px; */
width: 95%;
height: 95%;
background-position: center bottom;
z-index: 2;
background: #222;
-webkit-box-shadow: 10px 10px 45px -6px rgba(191,191,191,1);
-moz-box-shadow: 10px 10px 45px -6px rgba(191,191,191,1);
box-shadow: 10px 10px 45px -6px rgba(191,191,191,1);
			transform: skew(-5deg);
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #fff;
    background-color: #007EA3;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
      background: #fff;
    color: #007EA3; 
}

.progress, .progress-tech {background: rgba(255, 255, 255, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; height: 20px;}
.progress-bar-custom, .progress-bar-tech {background: rgba(210, 219, 14, 1);}

.marketing_questions{
    color: #222;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}

.tech_questions{
  color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.green{
  color:#d2db0e;
}

.orange{
  background: #FFB81C;
  border: 1px solid #FFB81C;
}

li{
    list-style-type: none;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .header {
  flex: 0 1 auto;
}

.box .content {
  flex: 1 1 auto;
}

.box .footer {
  flex: 0 1 40px;
}

.question {
    display: none;
    alpha: 0;
    width: 100%;
}

.question_active{
    display: block;
    alpha: 1;
}

.question_tech_active{
    display: block;
    alpha: 1;
}

/*
==============================================
showQuestion
==============================================
*/
.showQuestion{
    animation-name: showQuestion;
    -webkit-animation-name: showQuestion;  

    animation-duration: 0.5s;   
    -webkit-animation-duration: 0.5s;

    animation-timing-function: ease; 
    -webkit-animation-timing-function: ease;

    visibility: visible !important; 
}

@keyframes showQuestion {
    0% {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0%, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes showQuestion {
    0% {
        -webkit-transform: translate3d(150%, 0, 0);
        opacity: 0.5;
    }           
    100% {
        -webkit-transform: translate3d(0%, 0, 0);
        opacity: 1;
    }
}


/*@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}*/
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
  transition: 0s linear;
  transition-property: background-position;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
  transition: 0s linear;
  transition-property: background-position;
}